.wrapper {
  width: 100%;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  color: black;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .wrapper {
    width: 220px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.dropdown {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  background-color: white;
  color: black;
}

.content {
  display: flex;
  align-items: center;
}

.chartContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media (max-width: 768px) {
  .chartContainer {
    width: 220px;
    height: 220px;
  }

  .content{
    flex-direction: column;
  }
}

.totalSales {
  font-size: 16px;
  font-weight: bold;
  fill: #333;
}

.legend {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 100%;
}

.legendItem {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.colorBox {
  width: 12px;
  height: 12px;
  margin-right: 5px;
  border-radius: 3px;
}

.categoryInfo {
  font-size: 12px;
}

.categoryName {
  font-weight: bold;
  color: #333;
}

.salesValue {
  font-size: 10px;
  color: #777;
}
